#match-display {
  /*center within screen*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

#match-display > h1 {
  color: white;
  text-shadow:
    rgb(174, 163, 33) 2.5px 2.5px,
    /*3d text*/ rgb(255, 255, 255) 1px 0 7.5px /*glowy shadow*/;
}

.round-display {
  text-align: center;
  font-size: 40px;
}
