/*  
    Code from this file (VictoryPage.css) is 
    derived from https://stackoverflow.com/a/12816099
*/

#victory-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bracket-title {
  text-align: left;
}

/*BRACKET CONTAINER*/
#container {
  padding: 20px;

  width: 1150px;
  height: 800px;

  display: flex;
  justify-content: center;
}

/*ROUND CONTAINER*/
section {
  width: 216px; /*one side of bracket will have at most 16 teams -> 
                    32 team bracket is 5 rounds (including "winner" round)
                    1080/5=216*/
  height: 100%;

  float: left; /*sections (round) float left -> 
                    means they are side by side horizontally*/
}

/*PLAYER CONTAINER*/
section > div {
  /*keeping image and text (somewhat) clean*/
  display: flex;
  align-items: center;

  /*box stuff*/
  width: 216px; /*40px (image) + 176 px (title text) = 216*/
  height: 42px; /*image height = 40px + 1px border line on top/bottom = 42px*/
}

/*SONG IMAGE CONTAINER*/
section > div img {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(155, 155, 155);
}

a {
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  line-height: 20px;
}

/*SONG TITLE CONTAINER*/
.songtitle {
  /*remove link decoration*/
  color: rgb(255, 255, 255);

  font-size: 80%;

  padding-left: 3px;

  font-weight: bold;

  /*box stuff*/
  width: 176px;
  height: 20px;
  border: 1px solid #ffffff;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-left-width: 0px; /*album cover will have a border too -> remove borders doubling*/

  /*handle overflow*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  /*keeping image and text (somewhat) clean*/
  display: block;
}

#container > section {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#container > section > div {
  position: relative;
}

.bracket-line-vertical {
  position: absolute;
  right: 0px;
  top: 25px;
  border-left: 1px solid rgb(255, 255, 255);
}

.bracket-line-horizontal {
  position: absolute;
  right: -10px;
  width: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

#round-of-16 .bracket-line-horizontal {
  top: 110%;
}

#round-of-8 .bracket-line-horizontal {
  top: 170%;
}

#round-of-4 .bracket-line-horizontal {
  top: 285%;
}

#final .bracket-line-horizontal {
  top: 525%;
}

#round-of-16 .bracket-line-vertical {
  height: 100%;
}

#round-of-8 .bracket-line-vertical {
  height: 225%;
}

#round-of-4 .bracket-line-vertical {
  height: 475%;
}

#final .bracket-line-vertical {
  height: 950%;
}

#container > span {
  position: absolute;
}

#winner-display > h1 {
  color: rgb(254, 165, 0);
  text-align: center;
}

#winner-round {
  position: relative;
}

#app-watermark {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 20px;
  right: 20px;
}

h4 {
  /*winner text*/
  font-size: 150%;
  padding: -10px;
  color: rgb(229, 221, 2);
  text-shadow:
    #000000 1.5px 1.5px,
    /*3d text*/ rgb(255, 255, 255) 1px 0 7.5px /*glowy shadow*/;
  text-wrap: wrap;
}

#spotify-logo {
  width: 90px;
  margin: 0px;
}

#watermark {
  color: white;
  text-shadow: rgb(148, 148, 148) 2px 2px;
  margin: 0;
  font-size: 25px;
}

#watermark-link {
  font-size: 82%;
  color: rgb(163, 163, 255);
  text-decoration: underline;
  margin: 0;
  margin-top: 5px;
}

#spotify-logout-text {
  color: white;
}

#spotify-logout-button {
  /*button color*/
  background-color: #043004;

  /*text color*/
  color: white;

  /*round button*/
  border-radius: 30px;

  /*Padding around the text*/
  padding: 35px 35px;

  /*remove underline from href*/
  text-decoration: none;

  /*shadow under button*/
  box-shadow: 0 8px 1px 0 rgb(0, 0, 0, 0.5);

  transition-duration: 0.2s;

  margin-bottom: 20px;

  font-size: 20px;
  display: inline-block;
}

#spotify-logout-button:hover {
  /*button color*/
  background-color: rgb(245, 245, 245);

  /*text color*/
  color: #ff0000;
}
