label {
  color: rgb(255, 255, 255);
  text-shadow:
    #414141 3px 3px,
    /*3d text*/ rgb(97, 97, 97) 1px 0 7.5px /*glowy shadow*/;
  display: block;
  font-size: 24px;
  text-align: center;
}

#prompt {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

#playlist-box {
  width: 100%;
}

.hidden {
  display: none !important;
}
