#download-button {
    display:block;
    border-radius: 5px;
    font-size: 24px;
    background-color: rgb(232, 234, 235);
    border: 2px solid black;
    transition-duration: 0.3s;
}

#download-button:hover {
    color: white;
    background-color: black;
}