
#match-display {
    /*center within screen*/
    position:absolute;
    left: 50%;
    top:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#match-display > h1 {
    color:white;
    text-shadow:rgb(174, 163, 33) 2.5px 2.5px;
}

.round-display {
    text-align: center;
    font-size: 40px;
}
