iframe {
    border:0.5px solid white;
    border-radius: 10px;
}

h3 {
    color:rgb(238, 238, 238);
    font-size:200%;
    margin: 10px;
    text-shadow: black 0px 2.2px;
}

.track-artist-title {
    text-align: center;
}