iframe {
    border:0.5px solid white;
    border-radius: 10px;
}

h3 {
    color:rgb(206, 205, 205);
    font-size:200%;
    margin: 10px;
    text-shadow: black 1.5px 1.5px;
}

.track-artist-title {
    text-align: center;
}