.result-page {
  display: flex;
  flex-direction: column;
}

.bracket-header {
  align-self: flex-start;
}

.result-title {
  color: white;
}

.winner-display {
  display: flex;
  flex-direction: column;
  color: white;
}

.winner-display > h1 {
  margin-bottom: 0;
}

.winner-song-display {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.winner-song-display > a > img {
  width: 50px;
  height: 50px;
}

.author-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: white;

  gap: 10px;
}
