.App {
  text-align: center;
}

#spotify-madness-title {
    color: green;
}

.spotify-login-button {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}