.FormScreen {
  /*center within screen*/
  /* position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%); */

  align-items: start;

  padding-left: 12.5%;
  padding-right: 12.5%;
  gap: 10px;

  display: flex;
}

.bracket-options {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  color: rgb(255, 255, 255);
  text-shadow:
    #414141 3px 3px,
    /*3d text*/ rgb(97, 97, 97) 1px 0 7.5px /*glowy shadow*/;
  display: block;
}

.tracks-display {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 50%;
  gap: 3px;

  padding-top: 5px;
  padding-bottom: 5px;

  min-height: 5em;

  border-radius: 1.5em;

  background-color: rgb(84, 84, 84);
}

.tracks-display-title {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 1em;
}

.tracks-display .track:nth-child(odd) {
  background-color: rgb(111, 111, 111);
}

.tracks-display .track:nth-child(even) {
  background-color: rgb(146, 146, 146);
}

.track {
  display: flex;
  align-items: center;

  margin-left: 5px;
  margin-right: 5px;

  height: 40px;

  border-radius: 2em;
}

.track > img {
  height: 100%;

  border-radius: 2em;
}

.track > p {
  margin-left: 5px;
  color: black;
  font-weight: bold;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track > button {
  margin-left: auto;
  width: 40px;
  height: 100%;
}

.prompt {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: center;
}

.prompt > input {
  box-sizing: border-box;
  width: 100%;
}

#playlist-box {
  width: 100%;
}

.dropdown > select {
  width: 200px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(24, 22, 22);
  color: white;
}

.dropdown {
  font-size: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-search {
  width: 100%;
}

#submit-button {
  background-color: green;
  color: aliceblue;
  font-size: 32px;
  border-radius: 15px;
  border: 2px solid greenyellow;

  transition-duration: 0.35s;
}

#submit-button:hover {
  background-color: aliceblue;
  color: green;
  box-shadow: 0 11px 0px 0 rgb(0, 0, 0, 0.5);
}

#theform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
